<%- include('../../partials/header') %>
    <link rel="stylesheet" href="/stylesheets/signin.css">
    <div class="container container_signin_card">
        <form class="card_form" id="signin-form">
            <div class="header_form d-flex">
                <a href="/">
                    <h2 class="nav_logo">Selling House</h2>
                </a>
            </div>
            <div class="card_input_form d-flex">
                <div id="message">

                </div>
                <div class="form_row">
                    <label for="username">
                        <span>Username</span>
                    </label>
                    <input class="input_text" type="text" placeholder="Enter Username..." name="username" id="username"
                        required>
                </div>
                <div class="form_row">
                    <label for="phone_number">
                        <span>Phone Number</span>
                    </label>
                    <input class="input_text" type="number" placeholder="Enter Phone Number..." name="phone_number"
                        id="phone_number" required>
                </div>
                <div class="form_row">
                    <label for="email">
                        <span>Email</span>
                    </label>
                    <input class="input_text" type="email" placeholder="Enter Email..." name="email" id="email"
                        required>
                </div>
                <div class="form_row">
                    <label for="password">
                        <span>Password</span>
                    </label>
                    <input class="input_text" type="password" placeholder="Enter password..." name="password"
                        id="password" required>
                </div>
                <div class="form_row">
                    <label for="repas">
                        <span>Retype Password</span>
                    </label>
                    <input placeholder="Re-Type the Password..." class="input_text" type="password" name="repas"
                        id="repas">
                </div>
                <button class="btn btn-secondary my-2 w-10" type="submit">Sign Up</button>
            </div>
            <div class="footer_form">

                <span>Have an Account? <a href="/signin">Sign In</a></span>
            </div>
            <!-- </div> -->
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            regis();
            // $("input").map((e) => {
            //     console.log("FADF", e)
            // })
        });
        const regis = () => {
            $('#signup-form').on('submit', (e) => {
                e.preventDefault();
                let username = $('#username').val();
                let no_tlp = $('#no_tlp').val();
                let email = $('#email').val();
                let password = $('#password').val();
                let repas = $('#repas').val();
                $.ajax({
                    url: `${API_URL}/auth/signup`,
                    method: 'POST',
                    data: {
                        username: username,
                        no_tlp: no_tlp,
                        email: email,
                        password: password,
                        repas: repas
                    }
                }).done(function (data) {
                    if (data.msg == 'emailexist') {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Email exist!'
                        })
                    }
                    else if (data.msg == 'password not match') {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'password not macth!'
                        })
                    }
                    else if (data.msg == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: 'Your data has been saved',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        window.location.href = "/signin"
                    }
                }).fail(function (jqXHR, textStatus) {
                    alert("Request failed get data: " + textStatus);
                })
            })
        }
    </script>
    <%- include('../../partials/footer') %>