.text_link:hover {
    border-bottom: 1px solid black;
    transition: all 0.3s ease-in-out;
}

.container_footer {
    overflow: hidden;
    margin-top: 50px;
    background-color: #252525;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container_col {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
}

.row_section_footer {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 100%;
    justify-content: space-between;
}

.connect_with_me {}

.warn_con_with_me {
    margin: 10px 0;
}

.reach-me {
    display: grid;
    grid-template-columns: 30% 20% auto;
    grid-template-rows: 100%;
    justify-content: space-around;
    align-items: center;
}

.reach-me-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.explore_features {
    display: flex;
    flex-direction: column;
}

.copyright {
    width: 100%;
    padding-left: 50%;
}

@media screen and (max-width: 960px) {
    .row_section_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .reach-me{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
    }
    .footer_link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_info,.copyright{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .reach-me-section{
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
}