.box-drop {
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto;
    justify-content: space-between;
    height: 100%;
    border: 2px solid rgb(161, 156, 156);
    border-style: dashed;
}

.box-ondrop {
    margin-top: 2px;
    overflow: hidden;
    display: inline-block;
}

.card {
    color: white;
}

.card-image :hover {
    border-radius: 15px;
    box-shadow: 0 4px 10px 0 grey;
}

.col-for-drop-box {
    width: 30%;
    height: 300px;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width:576px) {
    .col-for-drop-box {
        display: none;
        transition: all 0.5s ease-in-out;
    }
}

#daftar-iklan-list {
    width: 100%;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
}

@media screen and (max-width:576px) {
    #daftar-iklan-list {
        grid-template-columns: auto;
        grid-template-rows: 100%;
    }
}

@media screen and (max-width:768px) {
    #daftar-iklan-list {
        grid-template-columns: auto auto;
        grid-template-rows: 40%;
    }
}

@media screen and (max-width: 1024px) {
    #daftar-iklan-list {
        grid-template-columns: auto auto ;
        grid-template-rows: 40%;
    }
}

.drop-procedure {
    float: right;
    margin-top: 10px;
    width: 240px;
    height: 170px;
    border: 1px solid salmon;
    text-align: center;
}

.main__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
}

.nav-link {
    font-size: large;
    padding: 15px;
}

.drag-drop {
    border: 2px solid rgb(160, 159, 159);
    border-style: dashed;
}

.navbars {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 4px solid #fff;
    font-size: .9375rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.navbars:hover {
    color: rgb(0, 0, 0);
}

#pagination-butt {
    border-radius: 100%;
    box-shadow: 0 3px 3px 0 grey;
    background-color: rgba(255, 255, 255, 0.03);
    margin-right: 10px;
}

#pagination-butt :hover {
    border-radius: 100%;
    background-color: rgb(170, 165, 165);
}

#pagination-butt button {
    border-radius: 100%;
    box-shadow: 0 1px 3px 0 grey;
    background-color: rgba(255, 255, 255, 0.03);
}

#pagination-butt button:hover {
    border-radius: 100%;
    background-color: rgb(170, 165, 165);
}

/* Item */

.card_ad {
    display: flex;
    flex-direction: column;
    border: 2px solid #eaeaea;
    margin: 5px 0;
    cursor: pointer;
    text-decoration: none;
    /* overflow: hidden; */
}

.card_img {
    display: flex;
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
}

.img_item {
    max-height: 100%;
    width: 100%;
}

.img_caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #eaeaeab7;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

.card_caption {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.card_footer {
    display: inherit;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10px;
    /* overflow: hidden; */
}

.txt_title {
    border-bottom: 1px solid #eaeaea;
}

.txt_price {}

.txt_address {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}