html, body {
  padding: 0 !important;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  scroll-behavior: smooth;
  background-color: #fcfceb;
}

a {
  /* color: #00B7FF; */
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: inherit;
}

.nav-link:hover {
  color: #7a7a7a;
  transition: all 0.3s ease-in-out;
}

.nav-link {
  padding: 0 !important;
  transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
}

a:hover {
  text-decoration: none;
}