<%- include('../../partials/header') %>
    <style>
        .box-drop {
            width: 380px;
            height: 460px;
            border: 2px solid rgb(161, 156, 156);
            border-style: dashed;
            margin: 10px;
            float: left;
        }

        .card {

            box-shadow: 0 10px 10px 0 grey;
        }

        .card-img-top {
            border: none;
            cursor: pointer;
        }

        .card-image :hover {
            border-radius: 15px;
            box-shadow: 0 4px 10px 0 grey;
        }

        .col-for-drop-box {
            padding: 30px;
            width: 100%;
            height: 600px;
            border: 1px solid rgb(231, 230, 230);
        }

        .drop-procedure {
            float: right;
            margin-top: 10px;
            width: 240px;
            height: 170px;
            border: 1px solid salmon;
            text-align: center;

        }

        .negotiable {
            color: grey;
            font-size: small;
        }

        .nav-link {
            font-size: large;
            padding: 15px;
        }

        .drag-drop {
            border: 2px solid rgb(160, 159, 159);
            border-style: dashed;

        }

        h1 {
            color: grey;
            font-family: fantasy;
        }

        .navbars {
            text-decoration: none;
            color: rgba(0, 0, 0, .8);
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -moz-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border-bottom: 4px solid #fff;
            font-size: .9375rem;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .navbars:hover {
            color: rgb(0, 0, 0);
        }

        #pagination-butt {
            border-radius: 100%;
            box-shadow: 0 3px 3px 0 grey;
            background-color: rgba(255, 255, 255, 0.03);
            margin-right: 10px;

        }

        #pagination-butt :hover {
            border-radius: 100%;
            background-color: rgb(170, 165, 165);
        }

        #pagination-butt button {
            border-radius: 100%;
            box-shadow: 0 1px 3px 0 grey;
            background-color: rgba(255, 255, 255, 0.03);

        }

        #pagination-butt button:hover {
            border-radius: 100%;
            background-color: rgb(170, 165, 165);
        }
    </style>
<script>
     $(document).ready(function () {
            $.ajax({
                url: `${API_URL}/coordinate`,
                method: 'GET',
                dataType: 'json'
            }).done(function (data) {
                let map;
                let corArray = []
                // console.log(data)
                var coordsArray = data.data;
                for (let i = 0; i < coordsArray.length; i++) {
                    var coords = coordsArray[i];
                    corArray.push(coords.coordinate.x + ', ' + coords.coordinate.y);
                }

                map = new google.maps.Map(document.getElementById("googleMap"), {
                    center: { lat: -6.923735, lng: 107.688739 },
                    zoom: 12,
                });
                for (let i = 0; i < corArray.length; i++) {
                    let splitCoord = corArray[i].split(", ");
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(parseFloat(splitCoord[0]), parseFloat(splitCoord[1])),
                        map: map
                    });
                }

                google.maps.event.addDomListener(window, 'load', $(this));
                // console.log(corArray)
            }).fail(function (textStatus, jqXHR) {
            })
        })
</script>

        <!-- MAP -->
        <div id="googleMap" style="width:100%;height:380px;box-shadow: 0 12px 10px 0 rgba(0,0,0,.2);"></div>
        <!-- MAP -->

        <ul class="container" style="margin-top: 30px;" id="container">

            <div class="navbars" style="border-bottom:2px solid  rgb(216, 213, 213);height: 90px;margin-bottom:20px ;">
                <a class="navbars" href="/" style="height:100%;" disabled><span>All</span></a>
                <a class="navbars" style="height:100%; color: grey;border-bottom: 3px solid grey;cursor: pointer;"
                    name="sewa" aria-disabled="true"><span>Sewa</span></a>
                <a class="navbars" href="/kategori=jual" style="height:100%;"><span>Jual</span></a>
            </div>

            <!-- Iklan -->
            <div id="filter"></div>
            <div class="row row-cols-1 row-cols-md-3 g-4" id="daftar-iklan-list">


            </div><br><br>
            <!-- Iklan -->

            <!-- pagination -->
            <nav aria-label="Page navigation example pagination">
                <ul class="pagination justify-content-center">

                </ul>
            </nav><br>
            <hr>
            <!-- pagination -->

               <!-- Drag And Drop Comparation -->
            <div class="col-for-drop-box">
                <h3>Bandingkan Iklan</h3>
                <div class="box-drop" ondrop="drop(event)" ondragover="allowDrop(event)">
                </div>
                <div class="box-drop" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

                <div class="drop-procedure">
                    <div class="card-title" style="background-color: rgb(248, 101, 101);color: white;">Contoh</div>
                    <div class="card-img-top"><img src="/images/sss.png" alt="" width="100%" height="100%"></div>

                </div>
                <div class="col-compare" style="width: 200px;height: 30px;">
                    <a href="" type="button" class="btn btn-warning" style="width:50px;margin-left: 10px;">
                        <img src="/images/icon/refresh-24px.svg" alt="">
                    </a>
                    <button class="btn btn-dark" id="compare" type="button" style="width:60%;">Bandingkan</button>
                </div>
            </div>
            <!-- Drag And Drop Comparation -->

        </ul>

        <div class="fixed-bottom" style="margin:0px 0px 100px 1800px; opacity: 50%;">
            <button id="backtoback" class="btn btn-secondary">TOP</button>
        </div>
        <script type="text/javascript">

            const API_URL = "http://localhost:3000/api/index";

            $(document).ready(function () {
                getData(1)
                detailData()

                $('.fixed-bottom').click(function () {
                    $('html,body').animate({
                        scrollTop: 0
                    })
                })

                $(".dropdown-toggle").mouseenter(function () {
                    $('.dropdown-menu').slideDown().mouseenter(function () {
                        $(this).slideDown().mouseleave(function () {
                            $(this).slideUp();
                        })
                    })
                })

            })
            const detailData = () => {
                $("#daftar-iklan-list ").on("click", ".detail-button", function () {
                    const id = $(this).attr('data-id-detail');
                    $.ajax({
                        url: `${API_URL}/detail/${id}`,
                        method: 'GET',
                        dataType: 'json'
                    }).done(function (data) {
                        window.location.href = `/detail?selectedID=${id}`
                    }).fail(function (jqXHR, textStatus) {
                        alert("Request Failed Get Data: " + textStatus);
                    })
                })
            }

            const getData = (page) => {
                var url_catch = $(location).attr('search')
                $.ajax({
                    url: `${API_URL}/${page}/kategori=sewa/${url_catch}`,
                    method: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data.data,data.filter)
                    let filter = JSON.stringify(data.filter)
                    $("#filter").html(`${filter == 'null' ? `<h1>KATEGORI SEWA</h1><hr>` : `<h1>Pencarian Untuk '${filter.slice(9, filter.length - 1)}'</h1><hr>`}`)
                    let rows = data.data
                    let html = ``
                    if (rows.length == 0) {
                        html += `<h3 class="text-muted col-7 col-md-12"><img src="/images/icon/search_off-24px.svg"> Tidak ditemukan</h3>`
                    } else {
                        rows.forEach((item, index) => {
                            let foto = item.foto.split(',')
                            html += `
                            <div class="col">
                                <div class="card h-100" draggable="true" ondragstart="drag(event)"
                                    style="float: left;" id="${item.id}">
                                    <div class="card-body">
                                        <img class="card-img-top" src="/images/upload/${foto[0]}">
                                            <p></p>
                                        <div>
                                        <h5 class="card-title" style="color: #52adf2;">${item.harga} IDR
                                    
                                        <small class="negotiable">${item.isNego ? "(Nego)" : "(Harga Pas)"}
                                           
                                        </small>
                                </h5>
                                <p class="card-text"><img src="/images/icon/pin_drop-24px.svg"> ${item.lokasi}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-white detail-button" style="color: black;float: right;" type="button" data-id-detail="${item.id}">
                                Detail<img class="gi gi-arrow-right" src="/images/arrow.png" style="width: 15px;">
                            </button>
                        </div>
                    </div>
                </div>
                    `})
                    };
                    $('#container #daftar-iklan-list').html(html)

                    let pagePrevious = ``;
                    if (rows.length == 0) {
                        pagePrevious += `<a href="/"><button class="btn btn-secondary">kembali<button></a>`
                    }
                    else if (data.current == 1) {
                        pagePrevious += `

                        `
                    } else {
                        pagePrevious += `
                            <li id="pagination-butt">
                                <button data-id = "${data.previous_page}" type="button" id="page-btn"  class="btn btn-secondary">
                                    <img src="/images/keyboard_arrow_left-black-18dp.svg" alt="">
                                </button>
                            </li> `
                    }
                    if (data.current == data.pages) {
                        pagePrevious += `
                        `
                    } else {
                        pagePrevious += `
                            <li id="pagination-butt">
                                <button data-id = "${data.next_page}" type="button" id="page-btn" class="btn btn-secondary" style="border-radius= 100%">
                                    <img src="/images/keyboard_arrow_right-black-18dp.svg" alt="">
                                </button>
                            </li>
                        `
                    }
                    $('.pagination').html(pagePrevious)
                    $("li").on("click", "#page-btn", function () {
                        const id = $(this).attr('data-id');
                        getData(id);
                    })
                    //--------------------------------- End Pagination ---------------------------------------
                }).fail(function (jqXHR, textStatus) {
                    alert("Request Failed Get Data: " + textStatus);
                })
            }

            const compareData = () => {
                $("#compare").on("click", function () {
                    let idCollect = []
                    dropped.forEach(item => {
                        idCollect.push(item)
                    });
                    $.ajax({
                        url: `${API_URL}/compare/${idCollect.join('+')}`,
                        method: 'GET',
                        dataType: 'json'
                    }).done(function (data) {
                        window.location.href = `/compare?selectedID=${idCollect.join('+')}`
                    }).fail(function (jqXHR, textStatus) {
                        alert("Request Failed Get Data: " + textStatus);
                    })
                })
            }
        </script>
        <%- include('../../partials/footer') %>
            </div>