<%- include('../../partials/header') %>
    <style>
        .card {
            border-radius: 15px;
            box-shadow: 0 2px 4px 0 grey;
        }
    </style>

    <body>
        <div class="container"><br><br><br>
            <div class="detail">
            </div>
            <div id="properties-image"></div>
            <hr>
            <br>
            <h2 class="text-muted">TITIK KOORDINAT</h2>
            <div id="googleMap" style="width:100%;height:380px;box-shadow: 0 12px 10px 0 rgba(0,0,0,.2);"></div>
            <hr>
        </div>
         
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div>
                        <img src="/images/imah.jpeg" class="card-img" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            let corX = []
            let corY = ''
            const API_URL = "http://localhost:3000/apis";

            $(document).ready(function () {
                detailData()
            })
            const detailData = () => {
                let id = location.search.slice(1).split("&")[0].split("=")[1]
                $.ajax({
                    url: `${API_URL}/detail/${id}`,
                    method: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data)
                    let rows = data.data
                    let foto = rows.foto.split(',')
                    let display_img = ``
                    $("#properties-image").html(display_img)


                    let html = `
                    <div class="col-md-14   ">
                <div class="card flex-md-row mb-4 box-shadow h-md-20" style="background-color: black;color:white;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-muted">${rows.isjual ? "DIJUAL" : "DISEWAKAN"}</strong>
                        <h3 class="mb-0">
                            <a class=" text-primary" href="#"></a>
                        </h3>
                        <h2 class="text-light"><strong>${rows.judul}</strong><h2>
                            <hr>
                    </div>
                            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                        alt="" style="width: 200px; height: 250px;"
                        src="/images/upload/${foto[0]} ">
                </div>
            </div>
        <hr>
        
        <div class="short-features">
            <div class="heading-panel">
                <h1 class="main-title text-left text-muted">
                    Deskripsi</h1>
            </div>
            <div class="clear-custom">
                <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Harga</strong> :</span>
                    Rp. ${rows.harga}<span class="negotiable">&nbsp;${rows.isnego ? "(Nego)" : "(Harga Pas)"}</span>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Tanggal</strong> :</span> ${rows.created_date.slice(0, 10)}
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Kamar Tidur</strong> :</span> ${rows.jml_kamar} Buah
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Kamar Mandi</strong> :</span> ${rows.kmr_mandi} Buah
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Luas Tanah</strong> :</span>
                    ${rows.luastanah} <strong>M2</strong>
                </div>
                <div class="col-sm-12 col-md-12 col-xs-12 no-padding">
                    <span><strong>Lokasi</strong> :</span>
                    ${rows.lokasi}
                </div>
            </div>
        </div>
        
        <hr>`
                    $('.detail').html(html)
                    let map;
                    var coordsArray = data.data.coordinate;
                    map = new google.maps.Map(document.getElementById("googleMap"), {
                        center: { lat: coordsArray.x, lng: coordsArray.y },
                        zoom: 10,
                    });
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(coordsArray.x, coordsArray.y),
                        map: map
                    });

                    google.maps.event.addDomListener(window, 'load', $(this));
                }).fail(function (jqXHR, textStatus) {
                    alert("Request Failed Get Data: " + textStatus);
                })
            }

        </script>
        <%- include('../../partials/footer') %></hr>