<%- include('../../partials/header') %>
    <style>
        .img-fluid {
            width: 100px;
            height: 100px;
            order: inherit;
            ;
        }
    </style>
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/images/ERK Logo black.png" alt="">
            <h2>Form Tambah Iklan</h2>
        </div>

        <form ref='uploadForm' id='uploadForm' action="http://localhost:3000/api/index/upload" method="POST"
            encType="multipart/form-data" class="needs-validation" novalidate>
            <input type="text" value="<%= user.id %>" name="id_users" hidden>
            <div class="row">
                <div class="col-md-4  mb-1" style="border-right: 1px solid grey;;">
                    <div class="col-md-"></div>
                    <h4 class="d-flex justify-content-between align-items-center mb-3" style="padding-left: 110px;">
                        <span>Upload Foto</span>
                    </h4>
                    <br><br>
                    <input type="file" id="upload" name="sampleFile" hidden change="readURL()" multiple required />

                    <label for="upload">
                        <div class="box-upload" id="upload-label">
                            <div class="content-upload">
                                <img id="imageResult2" src="/images/aditional/White_BG2.jpeg" alt=""
                                    class="img-fluid rounded mx-auto d-block">
                            </div>
                        </div>
                    </label>
                    <label for="upload">
                        <div class="box-upload " id="upload-label" style="margin-left: 23px;">
                            <div class="content-upload">
                                <img type="button" id="imageResult1" src="/images/aditional/kamera2.png" alt=""
                                    class="img-fluid rounded mx-auto d-block">
                            </div>
                        </div>
                    </label>
                    <label for="upload">
                        <div class="box-upload" id="upload-label">
                            <div class="content-upload">
                                <img id="imageResult3" src="/images/aditional/White_BG2.jpeg" alt=""
                                    class="img-fluid rounded mx-auto d-block">
                            </div>
                        </div>
                    </label>
                    <hr><small class="text-muted" style="font-size: 15px;">(Max 3 gambar)</small>
                    <div class="invalid-feedback">
                        Mohon untuk masukan foto.
                    </div>

                </div>

                <div class="col-md-8 order-md-1">
                    <div class="mb-3">
                        <label for="judul">Judul Iklan</label>
                        <input type="text" class="form-control" id="judul" name="judul" required>
                        <div class="invalid-feedback">
                            Mohon masukan Judul Iklan.
                        </div>
                    </div>

                    <h4 class="mb-3">Deskripsi Rumah</h4>
                    <div class="mb-3">
                        <label for="alamat">Alamat Lengkap</label>
                        <input type="text" class="form-control" id="alamat" name="alamat"
                            placeholder="Jalan Cempaka 2 No.12 RT 01 RW 06 Kelurahan Rancaekek " required>
                        <div class="invalid-feedback">
                            Mohon masukan Alamat yang valid.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="koordinat">Titik Koordinat</label>
                        <input type="text" class="form-control" id="koordinat" name="koordinat"
                            placeholder="-6.9247657 , 107.6859478" required>
                        <small class="text-muted">Salin dari Google maps</small>
                        <div class="invalid-feedback">
                            Mohon masukan Titik Koordinat yang valid.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="harga">Harga</label>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="harga">Rp.</label>
                            <input type="integer" class="form-control" id="harga" placeholder="10000000" name="harga"
                                required>
                            <div class="invalid-feedback">
                                Mohon masukan Harga
                            </div>
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="form-check form-switch">
                            <input id="sell" name="isNego" type="checkbox" class="form-check-input ">
                            <label class="form-check-label" name="nego" for="sell">Nego</label>
                        </div>
                    </div>
                    <hr class="mb-4">

                    <label for="luasTanah">Luas Tanah</label>
                    <div class="row">
                        <div class="input-group col-md-7 mb-3">
                            <input type="integer" class="form-control col-md-3" id="luasTanah" name="luasTanah"
                                required>
                            <span class="input-group-text" for="luasTanah">m2</span>
                            <div class="invalid-feedback">
                                Mohon masukan luas tanah yang valid.
                            </div>
                        </div>

                        <div class="col-md-7 mb-3 sm-2">
                            <label for="kamar">Jumlah Kamar</label>
                            <input type="number" class="form-control col-md-4" id="kamar" name="kamar" required>
                            <div class="invalid-feedback">
                                Mohon masukan jumlah yang valid.
                            </div>

                        </div>
                        <div class="col md-7 mb-3 sm-2">
                            <label for="kmrmandi">Jumlah Kamar Mandi</label>
                            <input type="number" class="form-control col-md-6" id="kmrmandi" name="kmrmandi" required>
                            <div class="invalid-feedback">
                                Mohon masukan jumlah yang valid.
                            </div>
                        </div>

                    </div>
                    <hr class="mb-4">
                    <h4 class="mb-3">Kategori</h4>

                    <div class="my-3">
                        <div class="form-check">
                            <input id="sell" name="kategori" type="radio" class="form-check-input" value="jual" checked
                                required>
                            <label class="form-check-label" for="sell">Jual</label>
                        </div>
                        <div class="form-check">
                            <input id="sewa" name="kategori" type="radio" class="form-check-input" value="sewa"
                                required>
                            <label class="form-check-label primary" for="sewa">Sewa</label>
                        </div>
                    </div>

                    <hr class="mb-4">

                    <div class="my-3">
                        <div class="form-floating">
                            <label for="floatingTextarea2">Deskripsi <span class="text-muted">(Optional)</span></label>
                            <textarea class="form-control" name="desc" placeholder="Tambahkan deskripsi jika perlu"
                                id="floatingTextarea2" style="height: 100px"></textarea>


                        </div>
                    </div>
                    <button class="btn btn-secondary btn-lg btn-block" type="submit">Upload</button>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

        $(document).ready(function () {
            let readURL = function (input) {
                if (input.files) {
                    let filesAmount = input.files.length;
                    for (let i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $(`#imageResult${i + 1}`).attr('src', e.target.result);
                        };
                        reader.readAsDataURL(input.files[i]);
                    }
                }
            };
            $(function () {
                $('#upload').on('change', function () {
                    readURL(this)
                });
            });
        })
    </script>
    <%- include('../../partials/footer') %>